html, body {
    width: 100%;
    height: 100%;
    background-color: #282828;
    color: #f4f4f4;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
}

div {
    margin: 0;
    padding: 0;
    border: none;
}

.info {
    background-color: #acacac;
    color: #fff;
    height: 1.75em;
}

.schedule {
    overflow: scroll;
    height: -moz-calc(100% - 5.25em);
}

.selectors {
    height: 1.75em;
}

.selectors div {
    display: inline-block;
}

.from {
    text-align: left;
}

.to {
    text-align: right;
}

.menu {
    border-top: 1px solid #fff;
    height: 1.75em;
}

.element {
    display: inline-block;
    border-right: 1px solid #fff;
}

.element:last-child {
    border-right: none;
}
